<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{client.name}} | Reset Password</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <link href="/static/style.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-bold">Welcome to EPONS</h2>
                <h3>Reset Password</h3>
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">New Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="raw_password" id="password" placeholder="Enter your Password" />
                                    <input type="hidden" name="password" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Change Password</button>
                        </div>
                    </form>
                    <p class="m-t">
                        <small>Developed by Developer's Workspace &copy; 2017</small>
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                Copyright EPONS
            </div>
            <div class="col-md-6 text-right">
                <small>© 2017</small>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script>
        $(function () {
            $("form").submit(function () {
                const password = $('input[name=raw_password]').val();
                const sha1 = CryptoJS.SHA1(password).toString();
                const md5 = CryptoJS.MD5(sha1).toString();
                const splittedMD5 = md5.match(/.{1,2}/g);
                const formattedPassword = splittedMD5.join('-');

                $('input[name=password]').val(formattedPassword);
            });
        });
    </script>
</body>

</html>